@page
@using QLL.DTO
@using Microsoft.AspNetCore.Http
@model QuanLyLop2_ASP.NETCore.Pages.DanhSachBaiModel

@{
    ViewData["Title"] = "Danh sách bài kiểm tra";
}

@if (TempData["msg"] != null)
{
    var msg = TempData["msg"].ToString();
    TempData.Remove("msg");

    <div class="alert alert-success">
        @msg
    </div>
}

@section menu_nav
{
    <li>
        <img src="~/images/avatar.png" class="rounded-circle" style="height:35px;">
    </li>

    <li class="nav-item d-flex align-items-center">
        <a class="nav-link text-dark">
            @HttpContext.Session.GetString("user_id")
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link btn btn-outline-danger" asp-page="/Index">Đăng xuất</a>
    </li>
}

@section menu
{
    @if (HttpContext.Session.GetString("user_id").StartsWith("hs"))
    {
        <partial name="~/Pages/Shared/_Menu_HS.cshtml" />
    }
    else if (HttpContext.Session.GetString("user_id").StartsWith("gv"))
    {
        <partial name="~/Pages/Shared/_Menu_GV.cshtml" />
    }
}

<div>
    <h1 class="display-4 text-center">Danh sách bài kiểm tra</h1>

    <table class="table table-striped text-white">
        <thead>
            <tr>
                <th>Mã</th>
                <th>Tên bài</th>
                <th>Ngày</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        @foreach (var b in Model.lstBai)
        {
            <tr>
                <td>@b.MaBai</td>
                <td>@b.TenBai</td>
                <td>@b.NgayTao</td>
               <td>
   @if (HttpContext.Session.GetString("user_id").StartsWith("hs"))
{
    var baiLam = Model.dsBaiLam.FirstOrDefault(x => x.MaBai == b.MaBai);

    if (baiLam == null)
    {
        <a asp-page="/LamBai" asp-route-id="@b.MaBai" class="btn btn-primary btn-sm">
            Làm
        </a>
    }
    else if (baiLam.Diem == null)
    {
        <span class="badge bg-warning text-dark">Đã nộp</span>
    }
    else
    {
        <span class="badge bg-success">Điểm: @baiLam.Diem</span>
    }
}

@if (HttpContext.Session.GetString("user_id").StartsWith("gv"))
{
    <a asp-page="/ChamBai" asp-route-maBai="@b.MaBai"
       class="btn btn-warning btn-sm">
        Chấm bài
    </a>
}

</td>
            </tr>
        }
        </tbody>
    </table>
</div>